<mat-card
  class="hover:cursor-pointer hover:bg-slate-200 h-[300px] md:h-[400px] overflow-auto"
  [routerLink]="['/tasks/' + task.id]">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ task.name | titlecase }}
      </mat-card-title>
      <mat-card-subtitle
        ><p
          [ngClass]="{
            'text-green-500': task.status === enumStatusTask.Finalizada,
            'text-red-500': task.status === enumStatusTask.Pendiente
          }">
          {{ task.status | titlecase }}
        </p>
      </mat-card-subtitle>
      <mat-icon class="adjust-icon"
        ><i class="fa fa-tasks text-[#3f51b5]" aria-hidden="true"></i
      ></mat-icon>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ task.description | titlecase }}
    </p>

    <mat-divider></mat-divider>
    <div class="flex pt-7 bottom-0 justify-center w-full">
      <button
        mat-stroked-button
        color="accent"
        (click)="confirmDeleteTask($event)">
        Eliminar Tarea
      </button>
    </div>
  </mat-card-content>
</mat-card>
